doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Reset Password

  style.
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    }
    .reset-password {
     max-width: 600px;
      margin: 50px auto;
      border-radius: 10px;
         border: 1px solid rgba(17, 12, 46, 0.15);

      padding: 2rem;
    }
    .image-box {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    }
    .image-box .title {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    color: #333;
    }
    .image-box img{
        height : 30px;
        width : auto;
    }
    strong {
    text-transform: capitalize;
    font-size: 18px;
    }
    .code {
    font-size: 45px;
    font-weight: bold;
     color: #fd7717;

    letter-spacing: 3px;
    margin: 0;
    }
.reset-password
  .image-box
    img(src=image alt='logo')
    h2.title Islam Test
  p
    | Hi, 
    strong #{name}
  p
    | We&apos;ve Recived a request to 
    strong forget your password.
  p
    | if you didn&apos;t make the request , just ignore this message, otherwise you
    | can forget your password.
  b Please note that this code will only be valid for five minutes.
  p
    | Your  code is here : 
    br
  p.code #{code}
  
  p
    | Thanks, 
    br
    br
    |         The 
    strong Islam Test
    |  team